{% extends "base.html" %}

{% block title %}{{user.username}}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail pull-left" src="{{user.gravatar(size=256)}}">
    <div style="min-height: 260px;margin-left: 30px;" class="pull-left">
        <h1>{{user.username}}</h1>
        {% if user.location %}
        <p>
            来自<a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D{{user.location}}">
            {{ user.location }}
            </a>
        </p>
        {% endif %}

        {% if user.is_administrator() %}
        <p><a href="mailto:{{user.email}}">{{ user.email }}</a></p>
        {% endif %}

        {%if current_user.can(Permission.USER) and user !=current_user%}
            {%if not current_user.is_following(user)%}
                <a href="{{url_for('activity.follow',username=user.username)}}" class="btn btn-primary">关注</a>
            {% else %}
                <a href="{url_for('activity.followers',username=user.username)}}" class="btn btn-default">取消关注</a>
            {% endif %}
        {% endif %}
        <a href="{{url_for('activity.followers',username=user.username)}}">
            关注ta的人：<span class="badge">{{ user.followers.count()}}</span>
        </a>
        <a href="{{url_for('activity.followered_by',username=user.username)}}">
            关注ta的人：<span class="badge">{{ user.followed.count()}}</span>
        </a>
        {% if current_user.is_authenticated and user !=current_user and user.is_following(current_user)%}
            <span class="label label-default">ta关注你</span>
        {% endif %}
        {% if user.about_me %}<p>个人介绍</p><p>{{user.about_me}}</p>{% endif %}
        <p>
            用户注册时间：{{ moment(user.member_since).format('L')}}
            最后一次登录时间：{{ moment(user.last_seen).fromNow()}}
        </p>
        {% if user==current_user %}
        <a class="btn btn-default" href="{{url_for('.edit_profile')}}">
            修改信息
        </a>
        {% else %}{% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{url_for('.edit_profile_admin',id=user.id)}}">
            修改资料[主管]
        </a>{% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}